* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #14213d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  margin-top: 250px;
}

.input-menu {
  margin-right: 25px;
  border-bottom: 2px solid #fca311;
  width: 350px;
}

.input-menu input {
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fca311;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.button-menu label {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #fca311;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.to-do-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.todo {
  width: 600px;
  height: 50px;
  background-color: #fca311;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  border-radius: 10px;
}

.delete {
  padding: 10px 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  padding: 10px 20px;
  color: white;
  background-color: black;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .to-do-container {
    transform: scale(0.5);
    margin: 0;
  }

  .container {
    transform: scale(0.8);
    width: 100%;
  }

  .button-menu label {
    padding: 10px;
  }

  .input-menu {
    width: 230px;
  }
}
